body {
    margin: 0 auto;
    text-align: center;
    background-color: darkslategray;
    color: whitesmoke;
}

.form-section {
    margin: 50px auto;
    background-color: cadetblue;
    width: 50%;
    border-radius: 20px;
    padding: 10px;
}

.title {
    color: gold;
}

.subTitle {
    color: lightcyan;
}

label {
    color: cyan;
    font-size: 1.2rem;
}

input, select {
    display: block;
    margin: 0 auto;
    font-size: 1rem;
}

/* select {
    margin-top: 1rem;
} */

button {
    margin-top: 1rem;
    padding: 10px;
    font-size: 1rem;
}

button:hover {
    transition: 0.3s;
    color: whitesmoke;
    background-color: teal;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
}

a {
    display: block;
    margin: 20px auto;
    font-weight: bold;
}

a:hover {
    transition: 0.3s;
    color: whitesmoke;
    background-color: darkcyan;
    border-radius: 10px;
    font-weight: bolder;
    cursor: pointer;
    width: fit-content;
    padding: 10px;
}